<nav class="navbar navbar-light bg-info" style="justify-content: space-around; opacity: 0.8;">
    <div>
    <a class="navbar-brand" routerLink="/"><img src="assets/logo.png" alt="logo" width="35px" height="35px"></a>
    <a class="navbar-brand" routerLink="/">Full Stack Dev</a>
    </div>
    <div style="display: flex;">
    <div class="signin_link" style="margin-right: 5px;">
      <a class="nav-link text-white" routerLink="/signup">Sign Up</a>
    </div>
    <div class="signin_link">
        <a class="nav-link text-white" routerLink="/login">Log In</a>
      </div>
    </div>
  </nav>
